---
import Navbar from "../components/navbar.astro";
import Experience from "../components/experience.astro";
import Home from "../components/home.astro";
import Layout from "../layouts/Layout.astro";
import "aos/dist/aos.css";
---

<Layout>
  <Navbar />
  <Home />
  <div class="absolute bottom-14 w-full flex justify-center animate-bounce">
    <img src="/down.svg" alt="down icon" class="w-20" />
  </div>
  <Experience />
</Layout>

<script>
  import { animate, stagger } from "motion";

  animate(".icons li", { opacity: 1, y: [50, 0] }, { delay: stagger(0.05) });
  animate(".name", { opacity: [0, 1], x: [-100, 0] }, { delay: stagger(0.1) });
  animate(".title", { opacity: [0, 1], y: [50, 0] }, { delay: 0.5 });
  animate(".profile", { opacity: [0, 1], scale: [0.8, 1] }, { delay: 0.5 });
  document.addEventListener("DOMContentLoaded", () => {
    const experience = document.querySelector("#experience");
    const button = document.querySelector("#scroll-button") as HTMLElement;

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            if (button) {
              button.style.display = "none";
            }
          } else {
            button.style.display = "flex";
          }
        });
      },
      { threshold: 0.1 }
    );

    if (experience) {
      observer.observe(experience);
    }
  });
</script>
