<section class="py-10 ml-20" id="experience" data-aos="zoom-in-right">
  <div class="max-w-4xl mx-auto relative">
  <h2 class="text-3xl font-semibold mb-5">ABOUT ME</h2>
  Soy un programador web graduado en un ciclo de desarrollo de aplicaciones web,
  con experiencia trabajando con Spring Boot, Angular y NestJS. En mis proyectos
  personales, he trabajado con Astro, React y Python, lo que me permite seguir ampliando
  mis conocimientos y enfrentar nuevos desafíos. Aunque tengo poca experiencia profesional,
  mi pasión por aprender y mejorar constantemente me impulsa a buscar soluciones
  innovadoras y mantenerme actualizado con las últimas tendencias en desarrollo web.
  </div>
</section>
