---
const education = [
  {
    title: "Bachillerato Tecnológico",
    years: "2020 - 2022",
    institution: "Instituto IES Alcala",
  },
  {
    title: "Ciclo Superior en Desarrollo de Aplicaciones Web",
    years: "2022 - 2024",
    institution: "IES Las Galletas",
  },
];
---

<section class="py-2 pb-8" id="experience" >
  <div class="max-w-4xl mx-auto relative">
    <div class="flex mb-6 items-center">
      <h1 class="text-xl font-semibold text-center ml-10">EDUCATION</h1>
    </div>
    <div class="absolute left-5 top-0 bottom-0 w-[1.8px] bg-gray-500"></div>
    <div class="space-y-8 pl-10">
      {
        education.map((item) => (
          <div class="relative">
            <div class="absolute -left-[1.65rem] top-2 w-4 h-4 bg-highlighted rounded-full" />
            <h3 class="text-lg font-semibolds">{item.title}</h3>
            <p class="text-gray-600">{item.years}</p>
            <p class="text-gray-500">{item.institution}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
