<section class="py-10" id="experience" data-aos="zoom-in-right">
  <div class="max-w-4xl mx-auto relative">
    <div class="flex mb-6">
      <h2 class="text-3xl font-semibold text-center ml-10">EDUCATION</h2>
      <img src="/icons/work.svg" alt="" class="w-9 ml-6" />
    </div>
    <div class="absolute left-5 top-0 bottom-0 w-[1.8px] bg-gray-500"></div>
    <div class="space-y-8 pl-10"></div>
  </div>
</section>
)) }

