---
const experienceData = [
  {
    title: "Prácticas en Seahorse",
    period: "Abril 2024 - Julio 2024 (4 meses)",
    description: [
      "Desarrollé soluciones utilizando Angular para el frontend y NestJS para el backend.",
      "Gestioné bases de datos relacionales y no relacionales, enfocándome en MySQL.",
      "Implementé pruebas unitarias e integración para garantizar la calidad del software.",
      "Ayude al diseño de nuevas arquitecturas para nuevos proyectos.",
      "Usé metodologías BDD y TDD para un desarrollo ágil y efectivo.",
    ],
  },
  {
    title: "Desarrollador Full Stack en Eviden",
    period: "Septiembre 2024 - Actualidad",
    description: [
      "Desarrollé aplicaciones web utilizando Spring Boot.",
      "Gestioné bases de datos MySQL con alto nivel de optimización y rendimiento.",
      "Implementé pruebas unitarias para asegurar la calidad del código y prevenir errores.",
      "Trabajé bajo metodologías ágiles, colaborando estrechamente con el equipo para cumplir los objetivos.",
      "Utilicé Docker para la creación de contenedores y despliegue eficiente de aplicaciones.",
      "Administré entornos Linux para la configuración y gestión de servidores.",
    ],
  },
];
const wordsHighlights = [
  "Angular",
  "NestJS",
  "MySQL",
  "BDD",
  "TDD",
  "Spring",
  "Boot",
  "Docker",
  "Linux",
];
---

<section class="py-10" id="experience" data-aos="zoom-in-right">
  <div class="max-w-4xl mx-auto relative">
    <div class="flex mb-6">
      <h2 class="text-3xl font-semibold text-center ml-10">EXPERIENCE</h2>
      <img src="/icons/work.svg" alt="" class="w-9 ml-6" />
    </div>
    <div class="absolute left-5 top-0 bottom-0 w-[1.8px] bg-gray-500"></div>
    <div class="space-y-8 pl-10">
      {
        experienceData.map((exp, index) => (
          <div class="relative">
            <div class="absolute -left-[1.65rem] top-2 w-4 h-4 bg-highlighted rounded-full" />
            <div class="px-6 rounded-lg">
              <h3 class="text-xl font-semibold text-highlighted">
                {exp.title}
              </h3>
              <p class="text-gray-400">{exp.period}</p>
              <ul class="list-disc pl-5 mt-2 text-gray-300">
                {exp.description.map((item) => (
                  <li class="">
                    {item.split(/\s+/).map((word) => {
                      const cleanWord = word.replace(/[.,:;!?(){}[\]]/g, "");
                      return (
                        <span
                          class={`${
                            wordsHighlights.includes(cleanWord)
                              ? "text-blue-500 font-bold"
                              : ""
                          }`}
                        >
                          {word}{" "}
                        </span>
                      );
                    })}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
