---
const experienceData = [
  {
    title: "Prácticas en Seahorse",
    period: "Abril 2024 - Julio 2024 (4 meses)",
    description: [
      "Colaboré en el desarrollo de soluciones para la empresa utilizando tecnologías como Angular y NestJS",
      "Usando base de datos relacionales y no relacionales, enfocandose mas en MySQL",
      "Dando importancia a tests unitarios y de integracion",
      "Realicé creaciones de proyectos desde 0, implementando arquitecturas propias de la empresa.",
      "Trabajé de cerca con el equipo para optimizar procesos y mejorar la eficiencia del código.",
      "Ademas trabaje con metodologias como BDD y TDD.",
    ],
  },
  {
    title: "Desarrollador Full Stack en Eviden",
    period: "Septiembre 2024 - Actualidad",
    description: [
      "Trabajo como desarrollador full stack, utilizando Angular para el frontend y Spring Boot para el backend.",
      "Participo en el desarrollo de aplicaciones web complejas, desde el diseño hasta la implementación de funcionalidades.",
      "Trabajo en la integración de la base de datos con MySQL y en la creación de APIs RESTful para aplicaciones escalables.",
    ],
  },
];
---

<section class="py-10" id="experience" data-aos="zoom-in-right">
  <div class="max-w-4xl mx-auto relative">
    <div class="flex mb-6 items-center">
      <h2 class="text-3xl font-semibold text-center">Experience</h2>
      <img src="/icons/code.svg" alt="" class="w-10 ml-6" />
    </div>
    <!-- Ajustamos la posición del borde para que no tape el título -->
    <div class="absolute left-10 top-0 bottom-0 w-[1.8px] bg-gray-500"></div>
    <div class="space-y-8 pl-14">
      {
        experienceData.map((exp, index) => (
          <div class="relative">
            <div class="absolute -left-[1.65rem] top-2 w-4 h-4 bg-highlighted rounded-full" />
            <div class="px-6 rounded-lg">
              <h3 class="text-xl font-semibold text-highlighted">
                {exp.title}
              </h3>
              <p class="text-gray-400">{exp.period}</p>
              <ul class="list-disc pl-5 mt-2 text-gray-300">
                {exp.description.map((item) => (
                  <li>{item}</li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
