---
const experienceData = [
  {
    title: "Internship at Seahorse",
    period: "April 2024 - July 2024 (4 months)",
    description: [
      "Developed solutions using Angular for the frontend and NestJS for the backend.",
      "Managed relational and non-relational databases, focusing on MySQL.",
      "Implemented unit and integration testing to ensure software quality.",
      "Contributed to designing new architectures for upcoming projects.",
      "Applied BDD and TDD methodologies for efficient and agile development.",
    ],
  },
  {
    title: "Full Stack Developer at Eviden",
    period: "September 2024 - March 2025 (7 months)",
    description: [
      "Developed web applications using Spring Boot and Java.",
      "Managed MySQL databases with a focus on performance tuning and schema optimization.",
      "Implemented unit tests to ensure code reliability and maintainability.",
      "Worked under agile methodologies, collaborating with cross-functional teams.",
      "Used Docker for containerization and efficient CI/CD pipeline integration.",
      "Configured and maintained Linux-based environments for deployment and monitoring.",
    ],
  },
  {
    title: "Full Stack Developer at Metrotenerife",
    period: "April 2025 - present",
    description: [
      "Developed web applications using Spring Boot and Java, following clean architecture principles.",
      "Built dynamic and responsive UIs using React, ensuring usability and accessibility.",
      "Integrated Python-based AI/ML solutions into backend services.",
      "Designed and optimized SQL databases for performance and scalability.",
      "Used Docker for creating reproducible development and production environments.",
      "Administered Linux servers for application hosting, deployment, and networking configurations.",
    ],
  },
];
const wordsHighlights = [
  "React",
  "NestJS",
  "MySQL",
  "BDD",
  "TDD",
  "Spring",
  "Boot",
  "Docker",
  "Linux",
];
---

<section class="py-20">
  <div class="max-w-4xl mx-auto relative">
    <div class="flex mb-6">
      <h1 class="text-3xl font-semibold text-center ml-10">EXPERIENCE</h1>
      <img src="/icons/work.svg" alt="" class="w-9 ml-6" />
    </div>
    <div class="absolute left-5 top-0 bottom-0 w-[1.8px] bg-gray-500"></div>
    <div class="space-y-8 pl-10">
      {
        experienceData.map((exp, index) => (
          <div class="relative">
            <div class="absolute -left-[1.65rem] top-2 w-4 h-4 bg-highlighted rounded-full" />
            <div class="px-6 rounded-lg">
              <h3 class="text-xl font-semibold text-highlighted">
                {exp.title}
              </h3>
              <p class="text-gray-400">{exp.period}</p>
              <ul class="list-disc pl-5 mt-2 text-gray-300">
                {exp.description.map((item) => (
                  <li class="">
                    {item.split(/\s+/).map((word) => {
                      const cleanWord = word.replace(/[.,:;!?(){}[\]]/g, "");
                      return (
                        <span
                          class={`${
                            wordsHighlights.includes(cleanWord)
                              ? "text-blue-500 font-bold"
                              : ""
                          }`}
                        >
                          {word}{" "}
                        </span>
                      );
                    })}
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
