<footer class="text-gray-300 py-6">
  <div class="max-w-6xl mx-auto px-4 flex justify-between items-center">
    <p class="text-sm">
      © 2025 <span class="font-bold">Markus Abramian Medina</span>. All rights
      reserved.
    </p>
    <div class="flex space-x-3">
      <a
        href="https://github.com/tu-usuario"
        target="_blank"
        class="hover:text-white"
      >
        <img src="/icons/github_dark.svg" alt="GitHub" class="w-6 h-6" />
      </a>
      <a
        href="https://www.linkedin.com/in/tu-usuario"
        target="_blank"
        class="hover:text-white"
      >
        <img src="/icons/linkedin.svg" alt="LinkedIn" class="w-6 h-6" />
      </a>
      <a href="mailto:tu-email@example.com" class="hover:text-white">
        <img src="/icons/mail.svg" alt="Email" class="w-6 h-6" />
      </a>
    </div>
  </div>
</footer>
