---
import { motion } from "framer-motion";
---

<div
  class="flex flex-col lg:flex-row items-center justify-center h-screen gap-10 lg:gap-40 p-5 relative"
>
  <div class="flex flex-col gap-6 text-center lg:text-left">
    <div class="flex flex-col lg:flex-row items-center gap-4">
      <h1 class="text-5xl md:text-6xl lg:text-7xl name">MARKUS</h1>
      <p class="text-lg md:text-xl lg:text-3xl text-highlighted title">
        Full stack developer
      </p>
    </div>
    <p class="text-4xl md:text-5xl lg:text-6xl name">ABRAMIAN MEDINA</p>
    <ul class="flex justify-center lg:justify-start gap-5 icons">
      <li>
        <img
          src="/icons/github_dark.svg"
          alt="GitHub"
          class="w-8 md:w-10 lg:w-8"
        />
      </li>
      <li>
        <img
          src="/icons/linkedin.svg"
          alt="LinkedIn"
          class="w-8 md:w-10 lg:w-8"
        />
      </li>
    </ul>
  </div>

  <div>
    <img
      src="/profile.jpeg"
      alt="profile"
      class="w-40 h-40 md:w-52 md:h-52 lg:w-80 lg:h-80 rounded-full object-cover profile"
    />
  </div>
</div>
