<div
  class="flex flex-col lg:flex-row items-center justify-center h-screen gap-6 lg:gap-20 p-5 relative"
>
  <div class="flex flex-col gap-6 text-center lg:text-left">
    <div class="flex flex-col lg:flex-row items-center gap-4">
      <h1 class="text-4xl md:text-6xl lg:text-5xl name">MARKUS</h1>
      <p class="text-base md:text-3xl lg:text-2xl text-blue-500">
        Full stack developer
      </p>
    </div>
    <p class="text-3xl md:text-4xl lg:text-5xl name">ABRAMIAN MEDINA</p>
    <ul class="flex justify-center lg:justify-start gap-5 icons">
      <li>
        <a
          href="https://github.com/markush0f"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/icons/github_dark.svg"
            alt="GitHub"
            class="w-8 md:w-10 lg:w-8 transition transform hover:scale-110 hover:opacity-80 duration-300"
          />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/markus-abramian-medina-1b0281273/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/icons/linkedin.svg"
            alt="LinkedIn"
            class="w-8 md:w-10 lg:w-8 transition transform hover:scale-110 hover:opacity-80 duration-300"
          />
        </a>
      </li>
    </ul>
  </div>

  <div>
    <img
      src="/profile.jpeg"
      alt="profile"
      class="w-32 h-32 md:w-40 md:h-40 lg:w-64 lg:h-64 rounded-full object-cover profile"
    />
  </div>
</div>
