---

---

<nav
  class="fixed top-0 left-1/2 transform -translate-x-1/2 w-auto flex gap-4 mt-2 border-2 px-3 border-gray-500 py-2 rounded-full"
>
  <button class="transform transition-all duration-300 hover:scale-110 hover:text-highlighted"
    >Home</button
  >
  <button class="transform transition-all duration-300 hover:scale-110 hover:text-highlighted"
    >Experience</button
  >
  <button class="transform transition-all duration-300 hover:scale-110 hover:text-highlighted"
    >Projects</button
  >
  <button class="transform transition-all duration-300 hover:scale-110 hover:text-highlighted"
    >About me</button
  >
</nav>
