---
const technologies = [
  {
    frameworks: ["react.svg", "spring.svg","junit.png", "jest.svg"],
    databases: ["mysql.svg", "mongodb.svg"],
    others: ["git.svg", "docker.svg", "linux.svg"],
    languages: ["python.svg", "java.svg", "typescript.svg"]
  },
];
---
<div  class="max-w-4xl mx-auto relative">
  <div class="flex mb-6">
    <h1 class="text-3xl font-semibold  ml-10">TECHNOLOGIES</h1>
    <img src="/icons/technology.svg" alt="" class="w-10 ml-4" />
  </div>
    <div class="">
    {technologies.map((tech) => (
      <div class="flex flex-col items-center p-6 sm:p-8 lg:p-10 rounded-lg h-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 sm:gap-8 lg:gap-10 w-full">
          <!-- Primera fila -->
          <div class="text-center">
            <h3 class="text-lg sm:text-2xl font-semibold text-blue-500 mb-4 sm:mb-6">FRAMEWORKS</h3>
            <ul class="flex justify-center gap-4 sm:gap-6">
              {tech.frameworks.map((framework) => (
                <li>
                  <img src={`/icons/technologies/${framework}`} alt="" class="w-12 sm:w-14 h-12 sm:h-14" />
                </li>
              ))}
            </ul>
          </div>
          <div class="text-center">
            <h3 class="text-lg sm:text-2xl font-semibold text-blue-500 mb-4 sm:mb-6">DATABASES</h3>
            <ul class="flex justify-center gap-4 sm:gap-6">
              {tech.databases.map((database) => (
                <li>
                  <img src={`/icons/technologies/${database}`} alt="" class="w-12 sm:w-14 h-12 sm:h-14" />
                </li>
              ))}
            </ul>
          </div>
          <div class="text-center">
            <h3 class="text-lg sm:text-2xl font-semibold text-blue-500 mb-4 sm:mb-6">LANGUAGES</h3>
            <ul class="flex justify-center gap-4 sm:gap-6">
              {tech.languages.map((language) => (
                <li>
                  <img src={`/icons/technologies/${language}`}  class="w-12 sm:w-14 h-12 sm:h-14" />
                </li>
              ))}
            </ul>
          </div>
          <div class="text-center">
            <h3 class="text-lg sm:text-2xl font-semibold text-blue-500 mb-4 sm:mb-6">OTHERS</h3>
            <ul class="flex justify-center gap-4 sm:gap-6">
              {tech.others.map((other) => (
                <li>
                  <img src={`/icons/technologies/${other}`} alt="" class="w-12 sm:w-14 h-12 sm:h-14" />
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    ))}
  </div>
</div>
