---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icons/code.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Markus</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Quicksand:wght@300..700&family=Rubik:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body class="scroll-smooth">
    <slot />
    <script>
      import AOS from "aos";
      AOS.init();
    </script>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  section {
    min-height: 100vh; 
  }
</style>
